.items-section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__filter-buttons {
    display: flex;
    gap: 10px;
  }
}