.item-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    cursor: grab;

    &[draggable]:active {
      cursor: grabbing;
    }
  }
}