*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-black);
  background-color: var(--color-whisper);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}