:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-whisper: #EAEAEA;
  --color-navy-blue: #005BFF;
  --color-green: #00AA00;
  --color-disabled: #666666;


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}